.container
  .col-xs-12
    =image_tag("http://assets.sky.com/dist/1273/static/sky-logo-redesign.png", alt: "Sky Logo", class: "logo")
  .col-xs-12
    %span
      %h1.cluster_title 
        Your Statement
        %small.demo-version.text--secondary= "(for the period #{@formatted_response.start_date} to #{@formatted_response.end_date})"
    %p.intro.smaller="Generated on #{@formatted_response.generated}"
    %p.intro
      %span 
        The total balance of
      %span.demo-pink
        =number_to_currency(@formatted_response.total_cost, unit:"£") 
      %span
        is due by
      %span.demo-blue 
        =@formatted_response.due_date
  = render partial: 'subscriptions'
  = render :partial => 'sky_store'
  = render :partial => 'calls'



          