.skycom-container
  .skycom-12
    =image_tag("http://assets.sky.com/dist/1273/static/sky-logo-redesign.png", alt: "Sky Logo", class: "logo")
.skycom-container
  .skycom-12
    %h1.cluster_title 
      Your Statement
      %small.demo-version.text--secondary= "(#{@formatted_response.start_date} to #{@formatted_response.end_date})"
    %p.intro.smaller
      %span
        Generated on 
      %span.demo-blue
        =@formatted_response.generated
    %p.intro
      %span 
        The total balance of
      %span.demo-pink
        =number_to_currency(@formatted_response.total_cost, unit:"£") 
      %span
        is due by
      %span.demo-blue 
        =@formatted_response.due_date
.skycom-container
  = render partial: 'subscriptions'
.skycom-container
  = render :partial => 'sky_store'
.skycom-container
  = render :partial => 'calls'
